.currencyExchange {
  padding: 16px 16px 21px 17px;
  border-radius: 10px;
  background-color: var(--app-light-purple);
}

.currencyExchangeTitle {
  padding-left: 3px;
  margin-bottom: 13px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: var(--white);
}

.currencyExchangeForm {
  display: flex;
  flex-direction: column;
}

.currencyExchangeList {
  margin-bottom: 24px;
  display: flex;
}

.currencyExchangeItem {
  position: relative;
  display: flex;
  flex-direction: column;
}

.currencyExchangeItem:nth-child(1) {
  margin-right: 35px;
}

.currencyExchangeItem:nth-child(2) {
  margin-right: 32px;
}

.currencyExchangeLabel {
  padding-left: 10px;
  margin-bottom: 3px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--inactive-input-border);
  cursor: pointer;
}

.currencyExchangeCustomSelect {
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
  height: 37px;
  width: 160px;
  background-color: var(--white);
  border-radius: 6px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  color: var(--purple);
  cursor: pointer;
}

.currencyExchangeCustomSelect::after {
  position: absolute;
  width: 9px;
  height: 8px;
  content: '';
  top: 16px;
  right: 16px;
  background: url('../img/customSelectArrow.svg');
  background-color: transparent;
  background-repeat: no-repeat;
}

.currencyExchangeSelectList {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: var(--white);
  border-radius: 6px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  color: var(--purple);
  cursor: pointer;
}

.closed {
  display: none;
}

.opened {
  display: flex;
}

.currencyExchangeSelectItem {
  padding-left: 10px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.currencyExchangeSelectItem::after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: var(--purple);
}

.currencyExchangeInput {
  height: 37px;
  width: 160px;
  border-radius: 6px;
  border: none;
  padding: 0;
}

.currencyExchangeSubmitWrapper {
  align-self: flex-end;
  padding-right: 4px;
}

.currencyExchangeSubmit {
  width: 147px;
  height: 37px;
  background: var(--main-gradient);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  border: none;
  border-radius: 8px;
}

.currencyExchangeSubmit:hover {
  cursor: url('../../img/cursor.svg'), pointer;
  background: var(--application-button-hover);
}

.currencyExchangeSubmit:focus {
  background: var(--application-button-focus);
}

.currencyExchangeSubmit:active {
  background: var(--application-button-active);
}
