.contactsWrapper {
  max-width: 264px;
  margin-right: 1.15vw;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 14.5px;
  padding-top: 8px;
  margin-bottom: 19px;
  color: var(--white);
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.contactsSocialList {
  display: flex;
  gap: 18px;
}

@media (max-width: 1024px) {
  .contactsWrapper {
    width: 181px;
    margin-right: 2vw;
  }

  .contactsStreet {
    white-space: nowrap;
  }
}

@media (max-width: 768px) {
  .contactsWrapper {
    width: 340px;
    max-width: 340px;
    margin-right: 0vw;
  }

  .contactsList {
    padding-top: 68px;
    margin-bottom: 19px;
  }
}
