.copyrightsLogoWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  margin-right: 4.25vw;
}

.copyrightsPlatformName {
  padding-top: 4px;
  color: var(--white);
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}


@media (max-width: 1024px) {
  .copyrightsLogo {
    margin-right: 10px;
  }

  .copyrightsLogoWrapper {
    margin-right: 4.44vw;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .copyrightsLogo {
    margin-right: 10px;
  }

  .copyrightsLogoWrapper {
    justify-content: start;
    margin-bottom: 22px;
    margin-right: 0;
    gap: 0;
  }
}

@media (max-width: 320px) {
  .copyrightsLogo {
    margin-right: 10px;
  }

  .copyrightsLogoWrapper {
    margin-bottom: 19px;
  }
}
