.linksList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 8px;
  margin-right: 70px;
}

.linksHref {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
}
