.headerWrapper {
  background-color: var(--app-light-purple);
}

.contentWrapper {
  padding: 20px 130px;
  display: flex;
  justify-content: space-between;
}

.headerLogoBtn {
  background-color: transparent;
  border: none;
}
